<a href="https://colab.research.google.com/github/Jominjinn/23python3rd/blob/main/CTBC_9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 두가지 이상의 선택, 다방향 선택구조 코딩
 - 배송료 처리 3가지로 코딩
 - 변수 : PRICE
 - 조건 : 10만원 이상 배송비 0, 2만원 이상은 3천원, 2만원 이하는 5천원

In [5]:
price = int(input("구입금액 입력: "))          # 변수 price가 사용가자 정수형 금액 입력
if price >= 100000:                            # price의 값이 10만원보다 크거나 같으면
  shipping_cost = 0                            # 선택1. 배송료(shipping_cost)는 0원
else:                                          # 그게 아니면
  if price >= 20000:                           # 선택2. price의 값이 2만원보다 크거나 같으면
    shipping_cost = 3000                       # 배송료(shipping_cost)는 3000원
  else:                                        # 그것도 아니면
    shipping_cost = 5000                       # 선택3. 배송료(shipping_cost)는 5000원
  print(f'배송료는 {shipping_cost}원 입니다.') # F-string문자 Fomat으로 최종 배송료 출력

구입금액 입력: 5000
배송료는 5000원 입니다.

2.반복구조를 이용한 "환영합니다."를 5번 출력하는 코드 작성
 - 변수: Welcome
 - 출력내용 : 환영합니다.를 세로로 5번, 10번, 30번

In [6]:
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")
print("환영합니다.")

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [8]:
print("환영합니다.\n"* 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [11]:
count = 1
while count <= 5:
  print("(", count, ")","환영합니다.")
  count = count + 1

( 1 ) 환영합니다.
( 2 ) 환영합니다.
( 3 ) 환영합니다.
( 4 ) 환영합니다.
( 5 ) 환영합니다.

3. 0부터 9까지 출력하는 코드 작성
 - 변수 : x

In [16]:
x = 0
while x < 10:
  #print(x)
  print(x, end= ' ')
  x = x + 1

0 1 2 3 4 5 6 7 8 9

4. 1부터 10까지 합산하는 코드 작성

In [24]:
x = 1
total = 0
while x <= 10:
  total += x
  #total = total + 1
  #x = x + 1
  x += 1
print(total)

55

In [21]:
x = 1
while x <= 9:
  print(x, end='')
  x += 1

123456789

3-6-9 게임(3의 배수 판단): 3의 배수를 3으로 나누면 나머지가 0이 되므로(i mod 3)의 값이 0이면 박수를 출력, 아니면 숫자 출력하는 코드

In [27]:
for num in range(1, 21):
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20

In [26]:
num = 1
while num <= 20:
  if num % 3 == 0:
    print("박수", end=' ')
  else:
    print(num, end=' ')
  num += 1

1 2 박수 4 5 박수 7 8 박수 10 11 박수 13 14 박수 16 17 박수 19 20